.connect {
    margin-left: 70px;
}

.connect__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
}

.connect__social-links {
    display: flex;
    margin-top: 20px;
}