.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    padding: 15px;

    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}