.connect__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
}

.connect__social-links {
    margin-top: 20px;
}

@media screen and (max-width: 1199.9px) {
    .connect__container {
        text-align: center;
    }
}

@media screen and (max-width: 767.9px) {
    .connect__container {
        margin-top: 60px;
    }
}

@media screen and (min-width: 1200px) {
    .connect__container {
        margin-right: 93px;
    }

    .connect__social-links {
        display: flex;
    }

}




