
.filter {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
    .filter__item:nth-last-child(-n +2) {
        margin-top: 15px;
    }
}

.filter__item:not(:last-child) {
    margin-right: 8px;
}

.filter-button {
    padding: 6px 22px 6px 22px;

    color: var(--secondary-color);
    background-color: var(--extra-color);

    font-family: roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--white-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    &.active {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;

        color: var(--white-color);
        background-color: var(--accent-color);
    }
}