.logo {
    color: var(--accent-color);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-span_dark {
    color: var(--secondary-color);
}

.logo-span_light {
    color: var(--white-color);
}