.modal {
    position: absolute;
    width: 100%;
    height: 609px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-contact__form {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.modal-contact__title {
    margin-bottom: 14px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-color);
}

.modal-contact__item {
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 20px;
    }
}

.field__type {
    display: block;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--main-color);
}

.field__wrapper {
    position: relative;
    display: flex;
}

.field__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--transition-cubic);

    &:focus {
        outline: none;
        border-color: var(--accent-color);
        }
}

.input__icon {
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    position: absolute;

    transition: fill var(--transition-cubic);
    
    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }

    .field__input:focus+& {
        fill: var(--accent-color);
    }
}



.field__message {
    display: block;
    width: 100%;
    height: 120px;

    padding: 12px 16px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    resize: none;

    transition: border-color var(--transition-cubic);

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }

}

.policy__field {
    display: flex;
    align-items: center;
    align-self: center;

    margin-bottom: 30px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    color: var(--main-color);

    &:before {
        content: '';
        display: inline-block;
    
        margin-right: 8px;
    
        width: 14px;
        height: 13px;
    
        border: 2px solid var(--secondary-color);
        border-radius: 2px;
    
        transition: border-color var(--transition-cubic), background-color var(--transition-cubic);
    
        cursor: pointer;
        }
    
    
    .policy__checkbox:focus+&:before {
        border-color: var(--accent-color);
    }   

    .policy__checkbox:checked+&:before {
        background-size: contain;
        background-position: center;
        background-image: url(../images/icon-check.svg);
        background-color: var(--accent-color);
        border-color: var(--accent-color);
    }
}

.terms-of-an-agreement {
    text-decoration: underline;
    color: var(--accent-color);
}

.modal-contact__button {
    @extend %button;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 480px) {
    .modal {
        width: 450px;
    }

}

@media screen and (min-width: 1200px) {
    .modal {
        width: 528px;
    }

    .policy__field {
        font-size: 14px;
        line-height: 1.71;
    }
}