.mobile-menu__open-button {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
        fill: var(--accent-color);
    }
}



@media screen and (min-width: 768px) {
    .main-nav {
    margin-left: 88px;
    }    


    .mobile-menu__open-button {
        display: none;
    }
    
}

@media screen and (min-width: 1200px) {
    .main-nav {
        margin-left: 93px;
    }
}